/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: PT serif;
}

header {
  background-color: #181818;
  height: 46px;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 15% 80%;
}
.menu-icon {
  width: 24px;
  height: 16px;
  grid-column-start: 1;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.header_image {
  display: none;
  width: 48px;
  height: 47px;
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
}

.header_text {
  grid-column-start: 3;
  justify-self: start;
  align-self: center;
  margin-left: 5%;
  color: #ffc700;
  font-size: 12px;
  display: none;
}


/* Styling for menu box */
.menu-box {
  display: grid;
  grid-template-columns: 90% 10%;
  width: 100%;
  height: 100%;
  background-color: #0D0C11;
  top: 0;
  left: -110%;
  transition: 1s;
  position: fixed;
  z-index: 9999; Ensure the sidebar overlays on top of other content
}

.menu-links {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 15% 8% 8% 8% 61%;
  grid-row-gap: 27px;
  gap: 10px;
}

.menu-links a:first-child {
  grid-row-start: 2;
}

.menu-links a:nth-child(2) {
  grid-row-start: 3;
}

.menu-links a:last-child {
  grid-row-start: 4;
}
.menu-links a {
  grid-column-start: 2;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.menu-links a:active {
  color:#F4CE0C;
}

.close-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin: 20% auto;
}

.container{
  display: grid;
  text-align: center;
  color: #FFFFFF;
}

.text_container_one {
  display: grid;
  align-items: center;
  grid-template-rows: 7% 8% 10% 35% 30% 6% 4%;
  background-image: url('rain_bk.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container_one_text_one {
  font-size: 18px;
  
}

.container_one_text_one,
.container_one_text_two,
.container_one_button
{
  align-self: end;
}

.container_one_text_two,
.container_one_text_three {
  color: #ffc700;
  font-size: 30px;
}

.button {
  background-color: #ffc700;
  color: #0D0C11;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 189px;
  height: 41px;
  font-size: 14px;
  font-weight: bold;
  font-family: Merriweather;
}

.container_one_text_four {
  font-size: 15px;
}

.yellow {
  color: #ffc700;
}

.container_one_elipse_image {
  align-self: flex-end;
  position: relative;
}
.elipse_icon {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container_one_text_five {
  font-size: 8px; 
}

.text_container_two {
  display: grid;
  align-items: center;
  grid-template-rows: 15% 10% 50% 10% 15%;
  grid-template-columns: 5% 10% 70% 10% 5%;
  background-image: url('Rectangle2.6.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 63vh;
}

.text_container_two img {
  width: 60%;
}

.container_two_image1 {
  grid-area: 2 / 2;
}
.container_two_image2 {
  grid-area: 4 / 4;
}

.container_two_text_one {
  grid-area: 3 / 3;
  font-size: 18px;
}

.text_container_three {
  display: grid;
  align-items: center;
  grid-template-rows: 45% 40% 15%;
  background-color: white;
  height: 100vh;
}

.container_three_text_one {
  color: #272727;
  font-size: 16px;
  margin: auto 50px;
text-align: start;
}

.bold {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}


.container_three_image1 img {
  width: 70%;

}

.text_container_four {
  display: grid;
  align-items: center;
  grid-template-rows: 25% 40% 25% 10%;
  background-image: url('rain_bk2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.lightning_one {
  position: absolute;
  margin-top: 50%;
}

.lightning_one img {
  width: 300%;
  transform: rotate(-31.55deg);
}

.lightning_two {
  justify-self: end;
  position: absolute;
  margin-bottom: 70%;
}

.lightning_two img {
  width: 300px;
}


.container_four_text_one {
  font-size: 15px;
  margin-left: 50px;
  width: 80%;
  align-self: end;
  text-align: start;
}

.container_four_text_two {
  color: #181818;
  text-align: start;
  font-size: 16px;
  background-color: rgba(243, 243, 242, 0.8);
  border-radius: 20px;
  padding: 30px;
  margin: auto 50px;
}


.container_four_button .button {
  background-color: transparent;
  color: #ffffff;
  border: solid 2px white;
}

.container_four_text_three {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  
}

.container2 {
  display: none;
  grid-template-rows: 10% 75% 15%;
  background-color: #010102;
  height: 100vh;
  color: #ffffff;
}

.line-container {
  margin: auto 10%;
  height: 15%;
  border-radius: 10.5px;
  background-color: #f2f3f3;
  opacity: 0.5915;
}

.line {
  height: 100%;
  width: 0;
  border-radius: inherit;
  background-color: #3bde7c;
  transition: width 0.5s;
}

.button-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

#next_grey {
  height: 41px;
  width: 189px;
  border-radius: 20px;
  background-color: #dadada;
  color: #8e8e8e;
  cursor: pointer;
  font-size: 14px;
  font-family: Merriweather;
}

#next_grey:active {
  background-color: #ffc700;
  color: #0d0c11;
}

.main_menu {
  display: grid;
}

#question {
  text-align: center;
  align-self: center;
  font-size: 20px;
  margin: auto 5%;
}

.options {
  font-size: 18px;
  display: grid;
  align-self: flex-start;
}


.options div {
  margin: 1% 0;
  cursor: pointer;
  background-color: grey;
  padding: 2.5% 0;
  display: flex;

}

.options div label::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 100px;
  border-radius: 50%;
  border: 1px solid white ;
  vertical-align: middle;
  background-color: inherit;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.options div label {
  display: grid;
  grid-template-columns: 1fr auto;
  cursor: pointer;
}

.options div.selected {
  background-color: #ffc700;
}

.options div.selected label::before {
  background-color: blue;
  border: 1px solid #272727;
}

.question4_style {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 250px);
  grid-gap: 1%;
  justify-content: center;
}

.question4_style div {
  width: 85%;
  height: 85%;
  cursor: pointer;
  border: 20px solid #010102;
}

.question4_style div.selected {
  border: 20px solid #ffc700;
}

.question6_style {
  display: grid;
  gap: 5%;
}

.question6_style div {
  background-color: #010102;
  cursor: default;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.question6_style div img {
  width: 55%;
  margin: 0 auto;
}

.question6_style div div {
  width: 10%;
  color: #0d0c11;
  cursor: pointer;
  background-color: white;
  border: solid 20px white;
}

.question6_style div.selected {
  background-color: white;
  border: 20px solid #ffc700;
}


.question8_style {
  display: grid;
}

.question8_style div:first-child {
  background-color: #010102;
  cursor: default;
  padding: 0;
  height: 20vh;
}


.question8_style div img {
  padding: 0;
  width: 50%;
  margin: 3% auto;
}

.question9_style{
  display: grid;
  /* gap: 1%; */
  
}

.question9_style div {
  background-color: #010102;
  cursor: default;
  justify-content: space-around;
}


.question9_style div img {
  width: 65%; 
}

.question9_style div div {
  width: 10%;
  color: #0d0c11;
  cursor: pointer;
  background-color: white;
  border: solid 20px white;
}

.question9_style div.selected {
  background-color: white;
  border: 20px solid #ffc700;
}

.horizontal-line {
  border-bottom: 5px solid grey;
 
 }

.loader_style {
  display: grid;
  justify-items: center;
  gap: 60%;
  text-align: start;
}


.loader_style div h5 {
  margin-left: 100px;
  font-size: 14px;
}

.loader_style div {
  padding: 0%;
  margin: 0;
  cursor: default;
  background-color: #010102;
}

.finish_style {
  display: grid;
  text-align: center;
  justify-items: center;
  grid-template-rows: 8% 12% 15% 22% 4% 6% 15% 18%;
  height: 100vh;
}

.finish_style div {
  display: grid;
  background-color: transparent;
  padding: 0;
}

.finish_style div:nth-child(1) {
  align-content: end;
}

.finish_style div:nth-child(1) h5 {
  font-size: 16px;
}

.finish_style div:nth-child(2) h5 {
  font-size: 14px;
}

.finish_style div:nth-child(3) h5 {
  align-self: center;
  color: #3BDE7C;
  font-size: 18px;
}

.finish_style div:nth-child(4) {
  width: 80%;
  align-self: center;
}

.finish_style div:nth-child(4) h5 {
  color: #FFFFFF;
  font-size: 8px;
  background-color: #1C2741;
  border-radius: 24px;
  padding: 35px
}

.finish_style div:nth-child(5) {
  align-content: end;
}

.finish_style div:nth-child(5) h5 {
  color: #3BDE7C;
  font-size: 11px;
}

.finish_style div:nth-child(6) p {
  color: #3BDE7C;
  font-size: 30px;
}

.finish_style div:nth-child(7) {
  width: 85%;
  text-align: start;
  font-size: 15px;
  background-color: #EB1B00;
  padding: 15px;
  border-radius: 10px;
  display: flex; 
  align-items: center;
}

.finish_style div:nth-child(7) h5 {
  font-size: 15px;
}

.finish_style div:nth-child(7) img {
  width: 15%;
  margin: auto 7%;
}

.finish_style div:nth-child(8) {
  align-content: end;
}

.finish_style div:nth-child(8) h5 {
  font-size: 7px;
  color: rgba(255, 255, 255, 0.5);
}



.loader {
  color: #03bd7c;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media screen and (min-width: 600px) {
  header {
  height: 120px;
  }
  .menu-icon {
    width: 3.5rem;
    height: 2.5rem;
  }
  .header_image {
    width: 8rem;
    height: 8rem;
  }
  .menu-links a {
    font-size: 2.5rem;;
  }
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 4rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 3.5rem;
  }

  .header_text {
    font-size: 2rem;
  }

  .finish_style div:nth-child(1) h5 {
    font-size: 3rem;
  }

  .finish_style div:nth-child(2) h5 {
    font-size: 3rem;
  }

  .finish_style div:nth-child(3) h5 {
    font-size: 4rem;
  }
  
  .finish_style div:nth-child(4) h5 {
    font-size: 2.5rem;
  }

  .finish_style div:nth-child(5) h5 {
    font-size: 2rem;
  }

  .finish_style div:nth-child(6) p {
    font-size: 3rem;
  }

  .finish_style div:nth-child(7) h5 {
    font-size: 3rem;;
  }

  .finish_style div:nth-child(8) h5 {
    font-size: 1.8rem;
  }

  .loader_style div h5 {
   font-size: 2.5rem;
  }

  #question {
    font-size: 4rem;
  }

  .options {
    font-size: 4rem;;
  }
  .button {
  border-radius: 4rem;
  width: 60%;
  height: 8rem;
  font-size: 3rem;
  }
  
  #next_grey {
    border-radius: 4rem;
  width: 60%;
  height: 8rem;
  font-size: 3rem;
  }

  .elipse_image {
    width: 50px;
  }
  .elipse_icon {
    width: 25px;
  }
}


@media only screen and (orientation: landscape) {

}