/* Reset some default styles */
body,
header,
nav,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font size and color */
body {
  font-size: 16px;
  color: #000;
}

/* Styling for header */
header {
  background-color: #181818;
  height: 46px;
  width: 320px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.image10 {
  display: none;
  width: 48px;
  height: 47px;
  position: absolute;
  left: 48px;
}

.text11 {
  width: 192px;
  height: 17px;
  position: absolute;
  top: 18px;
  left: calc(100% - 192px / 2 - 23px);
  transform: translateX(-50%);
  text-align: center;
  color: #ffc700;
  font-size: 12px;
  display: none;
}

.menu-icon {
  width: 24px;
  height: 16px;
  margin-top: 12px;
  margin-left: 15px;
  cursor: pointer;
}

/* Styling for menu box */
.menu-box {
  display: flex;
  justify-content: column;
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  top: 0;
  left: -110%;
  padding: 50px 100px;
  transition: 1s;
  position: fixed;
  z-index: 9999; /* Ensure the sidebar overlays on top of other content */
}

.close-icon {
  width: 28px;
  height: 28px;
  margin-top: -28px;
  cursor: pointer;
  float: right;
}

.menu-links {
  text-align: center;
  margin-left: 23px;
}

.menu-links a {
  text-decoration: none;
  color: white;
  display: block;
  width: fit-content;
  font-size: 16px;
  margin-bottom: 27px;
}

.menu-links a:first-child {
  margin-top: 64px;
}

/* Styling for container */
.container {
  display: block;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  /* z-index: 1; Ensure the content is displayed above the sidebar */
}
.image1 {
  position: relative;
  z-index: 0; /* Ensure the image is displayed below the sidebar */
  width: 320px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.text1 {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.text2 {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffc700;
  font-size: 28px;
}

.text3 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 40px;
}
.text4 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffc700;
  font-size: 15px;
}

.button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc700;
  color: #000;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.image2 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image3 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text5 {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.image4 {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.text6 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.image5 {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.white-background {
  background-color: white;
  height: 638px;
  width: 610px;
}

.text7 {
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: 16px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #272727;
}

.image6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.button1 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc700;
  color: #000;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.text8 {
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.text9 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  background-color: #f3f3f2;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #181818;
}
.button2 {
  position: absolute;
  top: 80%;
  left: 50%;
  background-color: transparent;
  border: 1px;
  box-shadow: none;
  transform: translate(-50%, -50%);
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border-color: white;
  cursor: pointer;
  border-radius: 50px;
}

.image7 {
  position: absolute;
  top: 90%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.text10 {
  position: absolute;
  top: 90%;
  left: 52%;
  font-size: 10px;
  background-color: transparent;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.image8 {
  position: absolute;
  top: 25%;
  left: 75%;
  z-index: 1;
  transform: rotate(19.42deg);
}

.image9 {
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 1;
  transform: rotate(-31.55deg);
}

.container2 {
  display: none;
  height: 568px;
  width: 320px;
  margin: 0 auto;
  background-color: #acaab6;
}

.line-container {
  /* position: relative; */
  margin-top: 17px;
  margin-left: 30px;
  z-index: 1;
  width: 260px;
  height: 11px;
  border-radius: 10.5px;
  background-color: #eee;
}

.main_menu {
  flex: 1; /* make this element take all remaining vertical space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: orange; */
}

#options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.line {
  margin: 0;
  position: relative;
  height: 100%;
  width: 0;
  border-radius: inherit;
  background-color: blue;
  transition: width 0.5s;
}

#next_grey {
  margin-bottom: 25px;
  margin-left: 66px;
  z-index: 1;
  width: 50%;
  height: 10%;
  border-radius: 20px;
  background-color: #dadada;
  cursor: pointer;
  margin-top: auto;
}

#next_grey:active {
  background-color: #ffc700;
}

.image11 {
  position: relative;
  z-index: 0; /* Ensure the image is displayed below the sidebar */
  width: 100%;
  height: 586px;
}

.text12 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

.text13 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

ul {
  list-style: none;
  color: #ffffff;
}

li {
  width: 320px;
  height: 50px;
  top: 242px;
  /* opacity: 0.15; */
  margin-bottom: 8px;
  background-image: url('Ellipse\ \(5\).png'); /* Set image as background */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-size: 20px 20px; /* Set image size to 20px by 20px */
  background-position: 35px center;
  padding-left: 40px; /* Add left padding for image */
  text-align: center;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

li span {
  margin-left: 39px; /* Add left margin for text */
}

.question4_style {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 50px);
  grid-gap: 10px;
}

.block {
  background-color: lightblue;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.question6_style {
  display: grid;
  row-gap: 20px;
}

.question8_style {
  display: grid;
  row-gap: 20px;
}

.loader {
  color: #03bd7c;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
